body {
    background-color: #F1F1F1;
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: white;
    width: 100%;
    height: 80px;
    border-radius: 12px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.name {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
}

.slider {
    margin: 30px 0px;
}

.sliderText {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 16%;
    left: 0;
    right: 0;
    text-align: center;
}

h3 {
    text-align: center;
    margin: 30px 0px 30px 0px;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

button {
    font-weight: 700;
    background-color: aquamarine;
    color: black;
    padding: 20px 50px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    margin: 30px 0px;
}

.btnAlgnment {
    text-align: center;
}

.sectionInfo .questioninfo {
    margin-top: 20px;
    color: black;
}

.questioninfo span {
    color: #868EC3;
    font-weight: 700;
}

.questionTime {
    margin-top: 20px;
    text-align: end;
    color: black;
    color: #868EC3;
    font-weight: 700;
    margin-right: 20px;
}

.questionHeading {
    text-align: center;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}

.resultHeading1 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 0px;
}

p {
    margin: 0px;
}

.resultHeading2 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-top: 0px;
}

.goBackbtn {
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.textCenter {
    text-align: center !important;
}

.getStarted {
    background-color: #D3F9B5;
    color: black;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 50px;
    margin-top: 20px ;
    margin-bottom: 40px;
}

.getStarted:hover {
    background-color: #D3F9B5;
    color: black;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 50px;
}

.optionBtn {
    padding: 15px 100px;
    background: transparent;
    border: 1px solid grey;
    color: black;
    border-radius: 13px;
    background-color: white;
}

.optionBtn:hover {

    background: transparent;
    border: 1px solid grey;
    color: black;
    background-color: white;
}

.btnback {
    background-color: white;
    border-radius: 13px;
    color: black;
    padding: 10px 50px;
    font-weight: 700;
}

.btnback:hover {
    background-color: white;
    border-radius: 13px;
    color: black;
    padding: 10px 50px;
    font-weight: 700;
}

.btnnext {
    background-color: #D3F9B5;
    border-radius: 13px;
    color: black;
    padding: 10px 50px;
    font-weight: 700;
}

.btnnext:hover {
    background-color: #D3F9B5;
    border-radius: 13px;
    color: black;
    font-weight: 700;
}

.selectedSbj {
    background: transparent;
    border: 1px solid #868EC3;
    color: #868EC3;
    font-size: 40px;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 10px;
}

.selectedSbj:hover {
    background: transparent;
    border: 1px solid #868EC3;
    color: #868EC3;
    font-size: 40px;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 10px;
}

.goBack {
    background-color: #868EC3;
    color: white;
    border-radius: 7px;
    border: 1px solid #868EC3;
    padding: 10px 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}

.goBack:hover {
    background-color: #868EC3;
    color: white;
    border-radius: 7px;
    border: 1px solid #868EC3;
    padding: 10px 60px;
    font-weight: 700;
}